input {
  margin-top: 10px;
}

button {
  margin-top: 10px;
}

a {
  margin-top: 10px;
}

.error {
  color: red;
}

.lowercase {
  text-transform: lowercase;
}

.titlecase {
  text-transform: capitalize;
}
